@model IEnumerable<fstCopy_Proj5.Models.DATE>

@{
    ViewBag.Title = "Index";
}



<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.startDateNominate)*@
            <label for="startDateNominate"> تاريخ بدء الترشح</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EndDateNominate)*@
            <label for="EndDateNominate"> تاريخ نهاية الترشح</label>

        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.startDateOfElection)*@
            <label for="startDateOfElection"> تاريخ بداية الانتخابات</label>

        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EndDateOfElection)*@
            <label for="EndDateOfElection"> تاريخ نهاية الانتخابات</label>

        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.startDateNominate)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateNominate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDateOfElection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateOfElection)
            </td>

        </tr>
    }

</table>
